{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/ingredients/ingredient_list.css' %}"
  />
{% endblock %}

{% block content %}
<main>
<h1>Ingredients</h1>
<div class="ing-card-container">
  {% for ingredient in ingredient_list %}
  <div class="ingredient-card">
    <a href="{% url 'ingredient-detail' ingredient.id %}">
      <h3>{{ ingredient.name }}</h3>
      <p><em>{{ ingredient.food_group }}</em></p>
    </a>
  </div>
    {% endfor %}
</div>
</main>

{% endblock %}