{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/ingredients/ingredient_detail.css' %}"
  />
{% endblock %}

{% block content %}

<h1>{{ ingredient.name }} </h1>
<h1>{{ ingredient.food_group }} </h1>

<a href="{% url 'ingredient-update' pk=ingredient.pk %}">
  <button>Edit Ingredient</button>
</a>
<a href="{% url 'ingredient-delete' pk=ingredient.pk %}">
  <button>Delete Ingredient</button>
</a>
<a href="{% url 'ingredient-index' %}">
  <button>Back to All Ingredients</button>
</a>


{% endblock %}