{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/recipe-detail.css' %}"
  />

{% endblock %}

{% block content%}

<div>
  <h1>{{ recipe.name }}</h1>
  <p>{{ recipe.cuisine }}</p>
  <p>{{ recipe.time }}</p>
  <p>{{ recipe.feeds }}</p>
  <p>{{ recipe.recipe }}</p>
  <a href="{% url 'recipe-update' recipe.id %}" >Edit</a>
  <a href="{% url 'recipe-delete' recipe.id %}" >Delete</a>
</div>
<div>
  <h1>Cooking Events</h1>
{% for cooking_evt in recipe.cooking_events.all %}
  <p>{{ cooking_evt.date }}</p>
  <p>{{ cooking_evt.notes }}</p>
{% endfor %}

</div>

{% endblock %}