{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/recipe-detail.css' %}"
  />

  <script defer src="{% static 'js/recipe_detail.js' %}"></script>
{% endblock %}


{% block content%}

<main>
  <div>
    <h1>{{ recipe.name }}</h1>
    <p class="cuisine"><em>{{ recipe.cuisine }}</em></p>
    <div class="recipe-info">
      <p>Cook Time: {{ recipe.time }}</p>
      <p>Feeds: {{ recipe.feeds }}</p>
    </div>
    <p class="recipe">{{ recipe.recipe }}</p>
    <div class="btns">
      <a href="{% url 'recipe-update' recipe.id %}" ><button>Edit Recipe</button></a>
      <a href="{% url 'recipe-delete' recipe.id %}" ><button>Delete Recipe</button></a>

    </div>
  </div>
  <div>
    <h1>Add an Ingredient</h1>
    <h3>{{ recipe.name }}'s Main Ingredients</h3>
    <div>
      {% if recipe.ingredients.count %}
        {% for ingredient in recipe.ingredients.all %}
          <p>{{ ingredient.name }} - <em>{{ ingredient.food_group }}</em></p>
        {% endfor %}
      {% else %}  
        <p>{{recipe.name}} has no associated ingredients</p>
      {% endif %}
    </div>  
    <div>
      <h3>Available Ingredients</h3>
      <!-- display available ingredients here -->
      {% if ingredients.count %}
        {% for ingredient in ingredients.all %}
          <a href="{% url 'ingredient-detail' ingredient.id %}">
            <p>{{ ingredient.name }} - <em>{{ ingredient.food_group }}</em></p>
          </a>
          <form action="{% url 'assoc-ingredient' recipe.id ingredient.id %}" method="post">
            {% csrf_token %}
            <button type="submit" >Add Ingredient to Recipe</button>
          </form>
        {% endfor %}
      {% else %}
        <p>{{ recipe.name }} already has all the available ingredients </p>
      {% endif%}    
    </div>
  </div>
  <div>
    <h3>Add a Cooking Event</h3>
    <form
      action="{% url 'add-cooking-event' recipe.id %}"
      method="post"
      autocomplete="off"
    >
      {% csrf_token %}
      {{ cooking_event_form.as_p }}
      <button type="submit">Add Cooking Event</button>
  </form>
  </div>
  <div>
    <h1>Cooking Events</h1>
    {% if recipe.cooking_events.all %}
      <table>
        <thead>
          <tr><th>Date</th><th>Notes</th></tr>
        </thead>
        <tbody>
          {% for cooking_evt in recipe.cooking_events.all %}
            <tr>
              <td>{{ cooking_evt.date }}</td>
              <td>{{ cooking_evt.notes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <p>You have never made {{ recipe.name }}</p>
      </div>
    {% endif %}
</main>

{% endblock %}