{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/recipe-index.css' %}"
  />

{% endblock %}

{% block content%}

<main>
  {% for recipe in recipes %}
  <div class="recipe-card">
    <a href="{% url 'recipe-detail' recipe.id %}" class="recipe-name">
      <h3>{{ recipe.name }}</h3>
    </a>
    <div class="recipe-info">
      <p class="cusine"><em>{{ recipe.cuisine }}</em></p>
      <p>{{ recipe.time }}</p>
      <p>{{ recipe.feeds }}</p>
    </div>
  </div>
  {% endfor %}
  <h1>Your Recipes</h1>
</main>



{% endblock %}