{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/recipe-index.css' %}"
  />

{% endblock %}

{% block content%}

<main>
  <div>
    <h1>Your Recipes</h1>
  </div>
  {% if recipes %}
  <div class="rc-cont">
    {% for recipe in recipes %}
    <div class="recipe-card">
      <a href="{% url 'recipe-detail' recipe.id %}" class="recipe-name">
        <h3>{{ recipe.name }}</h3>
      </a>
      <div class="recipe-info">
        <p class="cusine"><em>{{ recipe.cuisine }}</em></p>
        <p>Time to Cook: {{ recipe.time }}</p>
        <p>Feeds: {{ recipe.feeds }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="no-recipes">
      <p class="notice">Uh Oh! Looks like you don't have any recipes yet...</p>
      <a href="{% url 'recipe-create' %}"><button class="new-recipe-btn">Make your First Recipe Here</button></a>
    </div>
  {% endif %}
  </div>
</main>



{% endblock %}