{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/recipes/recipe-index.css' %}"
  />

{% endblock %}

{% block content%}

<main>
  <h1>Your Recipes</h1>
  
  <div class="recipe-card">
    {% for recipe in recipes %}
      <a href="{% url 'recipe-detail' recipe.id %}" class="recipe-name">
        <h3>{{ recipe.name }}</h3>
      </a>
      <p>{{ recipe.cuisine }}</p>
      <p>{{ recipe.time }}</p>
      <p>{{ recipe.feeds }}</p>
    {% endfor %}
    </div>

</main>



{% endblock %}