{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/about.css' %}"
  />

  {% endblock %}

  {% block content %}  

<main>
  <div class="contact-info">
    <h1>Nice to </br>Meet You!</h1>
    <p>
      Welcome to the Yum Yum Hub web app! Our platform is your personal kitchen companion, designed to help you record and organize your favorite recipes. </br>With Yum Yum Hub, you can easily create and store your culinary masterpieces, track cooking events for when you've prepared a recipe, and add valuable notes to enhance your future cooking experiences.</br> Whether you're a seasoned chef or a novice in the kitchen, Yum Yum Hub is your go-to tool for making and improving your beloved recipes, ensuring every dish you create is a delicious success, today and for years to come!
    </p>
    <h1>Meet the Developer</h1>
    <p>Contact info here</p>
    <p>LinkedIn</p>
    <p>LinkedIn</p>
    <p>GitHub</p>
    <p>GitHub</p>
  </div>
  <div class="dev-img">
    <img 
      src="{% static "images/dev.svg" %}"
      alt="Image of Brooklin, the developer"
    >
  </div>
</main>

{% endblock %}