{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/home.css' %}"
  />
{% endblock %}

{% block content %}

<main>
  <img
  class="text-logo"
  src="{% static "images/YYH-text.svg" %}"
  alt="The Recipe Organizer Logo"
  >
  <div class="right-div">
    <div class="white-card">
      {% if user.is_authenticated %}
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'recipe-index' %}">Recipes</a>
      <a href="{% url 'recipe-create' %}">Add Recipe</a>
      <a href="{% url 'ingredient-index' %}">Ingredients</a>
      <a href="{% url 'ingredient-create' %}">Add Ingredient</a>
    </div>
    {% else %}
    <div class="login-card">
      <form action="{% url 'home' %}" method="post" class="login">
        <h1>Login</h1>
        <hr></hr>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button>Login</button>
      </form>
    {% endif %}
    </div>
  </div>
</main>
    



{% endblock %}