{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/home.css' %}"
  />
{% endblock %}

{% block content %}

<main>
  {% if user.is_authenticated %}
  <img
  class="text-logo"
  src="{% static "images/YYH-text.svg" %}"
  alt="The Recipe Organizer Logo"
  >
    {% else %}
    <img
    class="text-logo"
    src="{% static "images/YYH-text.svg" %}"
    alt="The Recipe Organizer Logo"
    >
    <div class="login-div">
      <form action="{% url 'home' %}" method="post" class="login">
        <h1>Login</h1>
        <hr></hr>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button>Login</button>
      </form>
    {% endif %}
    </div>
  </div>
</main>
    



{% endblock %}