{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/home.css' %}"
  />

{% endblock %}

{% block content %}

<main>
  <div>
    <img 
      src="{% static "images/YYH-text.svg" %}"
      alt="The Recipe Organizer Logo"
    >
  </div>
  <div>
    <div class="white-card">
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'recipe-index' %}">Recipes</a>
      <a href="{% url 'recipe-create' %}">New Recipe</a>
    </div>
  </div>
</main>


{% endblock %}