html, body {
  background-image: url('../images/YumYumHub.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
}

/* .text-logo{
  display: flex;
  justify-content: center;
}  */

.white-card {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
}

.white-card > a {
  padding: 40px;
}

