html, body {
  background-image: url('../images/home-background.svg');
  /* background-repeat: repeat; */
  background-size: cover;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 2%;
}

h1 {
  color: var(--primary);
  font-size: 40px;
}

hr {
  color: var(--primary);
  margin-right: 40%;
}

label {
  color: var(--primary);
  font-weight: 800;
}

input {
  margin-bottom: 10%;
}

.text-logo{
  width: 50%;
  margin-left: 6%;
  margin-right: 4%;
}

.login-div {
  display: flex;
  align-items: center;
  width: 100%;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  img  {
    height: auto;
    max-width: 100%;
    float: none;
  }

  .white-card, .login-card {
    margin: 4% auto;
  }
}