html, body {
  background-image: url('../images/YumYumHub.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.white-card {
  background-color: var(--background);
}