main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--primary);
  font-size: 80px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin: 0 auto;
  text-align: center;
}

.cuisine {
  /* color: var(--primary); */
  font-size: 24px;
  text-align: center;
  /* font-weight: 800; */
  margin-top: 0;
  margin-bottom: 1%;
  padding-top: 0;
  color: #000000;
}

.recipe-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* font-weight: 800; */
}

.recipe-info > * {
  color: #000000;
  padding: 0 4%;
  margin-top: 0;
}

.recipe {
  width: 90%;
  margin: 1% auto;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

button {
  margin: 12px 36px 24px;
}

.ingredients-div {
  background-color: var(--primary);
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
}

.ingredients-div > * {
  color: var(--background);
  padding: 10px 24px;
}

.ing-label {
  font-size: 35px;
  margin: 0 auto;
  padding: 24px 0;
}

.ing-list {
  font-weight: 800;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.avail-cont, .ce-cont {
  border: solid var(--primary);
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
}

.add-ing{
  font-weight: 800;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.individual-ing {
  border: solid var(--primary);
  margin: 16px auto;
  border-radius: 16px;
  width: 250px;
  height: 180px;
  display: inline;
  padding: 10px 24px;
}

.add-btn {
  margin: 0 auto;
  float: right;
  bottom: 0;
}

/* .ce-cont {
  background-color: var(--primary);
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
} */

form {
  display: flex;
  justify-content: center;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}