main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--primary);
  font-size: 80px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cuisine {
  /* color: var(--primary); */
  font-size: 24px;
  text-align: center;
  /* font-weight: 800; */
  margin-top: 0;
  margin-bottom: 1%;
  padding-top: 0;
  color: #000000;
}

.recipe-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* font-weight: 800; */
}

.recipe-info > * {
  color: #000000;
  padding: 0 4%;
  margin-top: 0;
}

.recipe {
  width: 90%;
  margin: 1% auto;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

button {
  margin: 12px 36px 24px;
}

.ingredients-div {
  background-color: var(--primary);
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
}

.ingredients-div > * {
  color: var(--background);
  padding: 10px 24px;
}

.ing-label {
  font-size: 35px;
  margin: 0 auto;
}

.ing-list {

  font-weight: 800;
  font-size: 20px;

}
