body {
  background-color: var(--primary);
}

main {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: var(--background);
  font-size: 80px;
  text-align: center;
}

h3, .cusine, p {
  font-weight: 800;
}

.rc-cont {
  display: flex;
  flex-direction: column-reverse;
}

.recipe-card {
  background-color: var(--background);
  border-radius: 16px;
  width: 80%;
  margin: 24px auto;
  padding: 15px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.recipe-info {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}

.recipe-info > p {
  margin-right: 24px;
}

.recipe-info > p:first-child> {
  font-weight: 800;
}


.ingredient-card {
  flex-basis: calc(33.33% - 40px); 
  margin: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--background);
  border-radius: 16px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 10px;
  transition: background-color 0.3s, color 0.3s; 
}

.recipe-card:hover {
  background-color: var(--primary);
  border-color: var(--background); 
  color: var(--background);
}

.recipe-card a {
  color: inherit; 
}

a > h3 {
  font-size: 40px;
}

a > p {
  font-size: 30px;
}

.no-recipes {
  text-align: center;
}

.notice{
  color: var(--background);
  font-size: 40px;
  margin-top: 48px;
  margin-bottom: 68px;
}

.new-recipe-btn {
  background-color: var(--background);
  color: var(--primary);
}