body {
  background-color: var(--primary);
}

main {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

h1 {
  color: var(--background);
  font-size: 80px;
  text-align: center;
}

h3, .cusine {
  font-weight: 800;
}

.recipe-card {
  background-color: var(--background);
  border-radius: 16px;
  width: 80%;
  margin: 24px auto;
  padding: 15px;
  gap: 5px;
}
.recipe-info {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}

.recipe-info > p {
  margin-right: 24px;
}

.recipe-info > p:first-child> {
  font-weight: 800;
}